.app {
    position: relative;
}

.nav-container {
    
}

.loader-container {
    position: absolute;
    z-index: 999;
    opacity: .5;
    width: 100%;
    height: 100%;
    background: white;
}

.loader-container .loader-inner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    max-width: 600px;
}

  .img-spinner {
    animation: App-logo-spin infinite 20s linear;
    /* height: 40vmin; */
    pointer-events: none;
  }
  
  /* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  } */
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


