.app {
    position: relative;
}

.nav-container {
    
}

.loader-container {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,50px);
    z-index: 999;
    opacity: .5;
}
