.error-bar {
    padding: 10px 17px;
    &.error {
        border: 1px solid #e75178;
        background-color: rgba(231, 81, 120, 0.05);
        color: #e75178;
        .custom-button {
            color: #e75178;
        }
    }
    &.warning {
        border: 1px solid #ffc107;
        background-color: rgba(231, 81, 120, 0.05);
        color: #ffc107;
        .custom-button {
            color: #ffc107;
        }
    }
    &.success {
        border: 1px solid green;
        background-color: rgba(231, 81, 120, 0.05);
        color: green;
        .custom-button {
            color: green;
        }
    }
    button.close {
        font-size: 24px;
        font-weight: bold;
    }
      
}
  
.custom-button {
  border: 0;
  background: transparent;
}