.search-container{
    position: relative;
}
.search-container-inner{
    /* position: absolute; */
    background: #eee;
    width: 100%;
}

.search-result {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #ddd;
    transform: translate(50%)
}

.search-result-option {
    list-style-type: none;
    background-color: #eee;
    border: 1px solid #ddd;
}

ul.search-typeahead {
    display: none !important;
}
